<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <style>
      .cont {
        height: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: orangered;
        flex-direction: column;
      }
      .cont a {
        color: blue;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <%- include("header.ejs") %>
    <div class="cont">
      <h1>401 You are not logged in</h1>
      <a href="/login">login</a>
    </div>
  </body>
</html>
