<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" a href="/css/main.css" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <h1>Blog post</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quos non,
      facere nostrum provident vel eveniet iure distinctio maiores. Maxime,
      quibusdam. Expedita excepturi dolorum odio. Sunt dignissimos pariatur quod
      ipsam aliquam numquam nam ea temporibus harum aliquid! Expedita corporis
      odio tempora eos. Earum quasi asperiores rem similique tempora dolorum
      veritatis itaque dolorem deserunt, temporibus sed reiciendis. Sequi
      dolorem quasi aliquid magnam expedita! Voluptate maxime, ipsam
      perspiciatis a quo reiciendis eligendi nihil, voluptates distinctio
      consequatur nobis cumque, doloribus obcaecati vel quibusdam facere in?
      Iusto, odit error! Laborum quasi unde reiciendis rem explicabo eligendi
      aliquid consectetur laboriosam nam praesentium voluptatibus dicta,
      blanditiis magnam maiores eveniet sapiente corporis, eum placeat eius amet
      necessitatibus. Quaerat, veniam! Omnis numquam distinctio exercitationem
      tempore nobis deserunt recusandae praesentium placeat expedita soluta
      animi magni ratione voluptatibus architecto quam odio quas, laborum minus
      voluptates? Nobis nemo dolor illum, voluptates quam dolorem, illo
      reprehenderit neque quibusdam incidunt tenetur repellat repudiandae
      eveniet ex maiores at sunt aliquid tempore nisi maxime iusto facere
      molestiae possimus corporis! Ducimus consequuntur quod amet ut nihil at
      molestiae recusandae. Reprehenderit sed quod quidem eveniet laborum ea
      tenetur blanditiis nostrum, nam doloribus fuga asperiores cupiditate
      exercitationem est voluptas consectetur corrupti voluptatum molestias id
      praesentium voluptates quia reiciendis?
    </p>
  </body>
</html>
