<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <%- include("header.ejs") %>
    <h2 class="main-h">Login here</h2>
    <!-- add login link to header(partial) -->
    <!-- add the get route for the login page -->
    <!-- add post route for the login form -->
    <form action="/login" method="POST">
      <div>
        <label for="tsc">TSC NO</label>
        <input type="number" name="tsc" id="tsc" required />
      </div>
      <div>
        <label for="passkey">Passkey</label>
        <input type="password" name="passkey" id="passkey" required />
      </div>
      <input type="submit" value="login" />
    </form>
  </body>
</html>
